In [3]:
import pandas as pd
pd.__version__

'1.0.5'

In [4]:
dict_data = {'CO':100,'MX':200,'AR':300}
dict_data

{'AR': 300, 'CO': 100, 'MX': 200}

In [5]:
pd.Series(dict_data)

CO    100
MX    200
AR    300
dtype: int64

In [6]:
# Podemos crear objetos mas complejos (el dataframe)
dict_data = {'CH':[100,800,200], 'CO':[100,800,200],'MX':[100,800,200],}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 800, 200], 'MX': [100, 800, 200]}

In [7]:
df = pd.DataFrame(dict_data)
df

    CH   CO   MX
0  100  100  100
1  800  800  800
2  200  200  200

In [8]:
import numpy as np

In [9]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [10]:
# Creando un DataFrame con un index por nombres
df = pd.DataFrame(dict_data, index = ['ana','benito','camilo','daniel','erika','fabian','gabriela'])
df

          edad   cm pais genero    Q1  Q2
ana         10  115   co      M   5.0   7
benito       9  110   mx      F  10.0   9
camilo      13  130   co      F   8.0   9
daniel      14  155   mx      M   NaN   8
erika       12  125   mx      M   7.0   8
fabian      11  120   ch      M   8.0   8
gabriela    12  125   ch      F   3.0   9

In [11]:
df.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [12]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [13]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

In [14]:
# Accediendo a los valores de la columna (series)
df['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [15]:
# Accediendo a varias columnas
df[['edad', 'cm', 'Q1']]

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

In [16]:
# Accediendo solo a los datos de Ana para las columnas anteriores
df.loc['ana',['edad', 'cm', 'Q1']]

edad     10
cm      115
Q1        5
Name: ana, dtype: object

In [17]:
# iloc
df.iloc[2,1]

130

In [18]:
df.iloc[[2,4,5], [1,3]]

         cm genero
camilo  130      F
erika   125      M
fabian  120      M

In [19]:
df.iloc[:,[1,3]]

           cm genero
ana       115      M
benito    110      F
camilo    130      F
daniel    155      M
erika     125      M
fabian    120      M
gabriela  125      F

In [22]:
# Realizando operaciones
# filtrando 
df[df['edad'] >= 12]

          edad   cm pais genero   Q1  Q2
camilo      13  130   co      F  8.0   9
daniel      14  155   mx      M  NaN   8
erika       12  125   mx      M  7.0   8
gabriela    12  125   ch      F  3.0   9

In [23]:
# And 
df[(df['edad'] >= 12) & (df['pais'] =='mx')]

        edad   cm pais genero   Q1  Q2
daniel    14  155   mx      M  NaN   8
erika     12  125   mx      M  7.0   8

In [24]:
df.query('edad>12')

        edad   cm pais genero   Q1  Q2
camilo    13  130   co      F  8.0   9
daniel    14  155   mx      M  NaN   8

In [25]:
df[df['Q2'] >= df['Q1']]

          edad   cm pais genero   Q1  Q2
ana         10  115   co      M  5.0   7
camilo      13  130   co      F  8.0   9
erika       12  125   mx      M  7.0   8
fabian      11  120   ch      M  8.0   8
gabriela    12  125   ch      F  3.0   9